@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

html,
body {
  background-color: #000;
  color: rgb(var(--foreground-rgb));
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
  }

  .text-balance {
    text-wrap: balance;
  }

  .neg-ml-1 {
    margin-left: -1rem;
  }

  .neg-ml-4 {
    margin-left: -4rem;
  }

  .neg-ml-6 {
    margin-left: -6rem;
  }

  .neg-ml-7 {
    margin-left: -7rem;
  }

  .neg-ml-8 {
    margin-left: -8rem;
  }

  .neg-ml-9 {
    margin-left: -9rem;
  }
}
